<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>MENU</title>
</head>

<body>
	<h1 align="center">在庫管理システム</h1>
	<table border="0" width="600" align="center" style="margin-bottom:10px;">
  <tr>
    <td align="left">
      ログインユーザー：<span th:text="${loginUser.username}">さん</span>
    </td>
    <td align="right">
      <form th:action="@{logout}" method="get" style="display:inline;">
        <button type="submit">ログアウト</button>
      </form>
    </td>
  </tr>
</table>

	<br>
	<table border="1" cellpadding="8" cellspacing="0" align="center">

		<colgroup>
			<col width="50">
			<col width="200">
			<col width="60">
			<col width="100">
			<col width="100">
			<col width="80">
			<col width="120">
		</colgroup>
		<tr align="center" bgcolor="#dddddd">
			<th>ID</th>
			<th>備品名</th>
			<th>在庫</th>
			<th>使用</th>
			<th>使用予定</th>
			<th>注文</th>
			<th>削除(在庫0)</th>
		</tr>
		<tr th:each="item : ${items}">
			<td align="center" th:text="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td align="right" th:text="${item.stock}" th:style="${item.stock <= 2} ? 'color:red': ''"></td>

			<td align="center">
				<form th:action="@{/menu/usage/pending}" method="post">
					<input type="hidden" name="itemId" th:value="${item.id}"></input>
					<input type="number" name="usage" min="1" th:max="${item.stock}" required size="3">
					<!--			在庫が０なら押せなくする-->
					<br>
					<button type="submit" th:disabled="${item.stock == 0}">使用予定</button>

				</form>

			</td>
			<td align="right" th:text="${item.pendingUsage}">0</td>

			<td align="center">
				<form th:action="@{/menu/order/{id}(id=${item.id})}" method="get">
					<button type="submit">注文</button>

				</form>
			</td>
			<td align="center">
				<form th:action="@{/menu/delete/{id}(id=${item.id})}" method="post"
					onsubmit="return confirm('本当に削除しますか？');">
					<button type="submit" th:disabled="${item.stock > 0}">削除</button>
				</form>
				</tdalign="center">
		</tr>



	</table>
	<hr>

	<div align="center">
		<form th:action="@{/menu/usage/confirm-all}" method="post" style="display:inline;">
			<button type="submit">使用を確定</button>
		</form>

		<form th:action="@{/menu/usage/reset-all}" method="post" style="display:inline;">
			<button type="submit">使用をリセット</button>
		</form>

		<form th:action="@{/menu/add}" method="get" style="display:inline;">
			<button type="submit">備品追加</button>
		</form>


	</div>


</body>

</html>